@import url("/home/av/.config/color/color.css");

* {
  font-family: "DM Sans", "JetBrainsMono Nerd Font Propo", "Arial", sans-serif;
  font-size: 14px;
  border-radius: 7px;
  font-weight: bold;
  padding: 0 0px;
  margin: .2  0px;
}

window#waybar {
  background: rgba(255, 255, 255, 0.304);
  color: @foreground;
}

/* --- General Module Styling --- */

#group-hardware{
  color: @foreground;
  background-color: @background;
  padding: 0 2px;
  margin: 0  2px;
}
#custom-new-workspace,
#custom-wofi,
#custom-power,
#custom-swaync{
  color: @background;
  padding: 0 3px;
  margin: 0  4px;
}
#tray {
  background-color: @background;
  padding: 0 5px;
  margin: 0  2px;
}
#cpu,
#memory,
#temperature{
  color: @foreground;
  background-color: @background;
  padding: 0 5px;
  margin: 0  1px;
}
#custom-airplane,
#bluetooth,
#network,
#pulseaudio,
#battery,
#backlight,
#clock,
#window,
#workspaces,
#custom {
  color: @foreground;
  background-color: @background;
  padding: 0 5px;
  margin: 0  2px;
}

#custom-cava {
    color: @color4; /* Match your color scheme */
    background-color: @background;
    font-size: 10px; /* Adjust font size to change the bar height */
    padding: 0 5px;
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
}
#custom-play-pause,
#custom-next,
#custom-previous {
  color: @background;
  padding: 0 3px;
  margin: 0  5px;
}

/* --- Workspaces Styling --- */

#workspaces button {
  background-color: @background;
  color: @foreground;
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition: background-color 0.3s ease, color 0.3s ease, padding-left 0.15s ease, padding-right 0.15s ease;
  padding: 0 2px;
  margin: 0  2px;
}

#workspaces button.active {
  background-color: @color4;
  color: @background;
  padding: 0 5px;
  margin: 0  5px;
}

#workspaces button.active:hover {
  color: @background;
  background: @color5;
}

#workspaces button.empty {
  color: @background;
  background: @color5;
}

#workspaces button:hover {
  background: @color5;
  color: @background;
}

#workspaces button.urgent {
  background-color: @urgent;
  color: @background;
}


#window.hidden {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  border: none;
}

window#waybar.empty #window {
  background-color: transparent;
}
