@import url("/home/av/.config/colour/color.css");

* {
  font-family: "DM Sans", "JetBrainsMono Nerd Font Propo", "Arial", sans-serif;
  font-size: 14px;
  border-radius: 6px;
  font-weight: bold;
}

window#waybar {
  background-color: @background-alt;
  color: @foreground;
}

/* --- General Module Styling --- */
#battery,
#pulseaudio,
#backlight,
#custom-pacman,
#network,
#bluetooth,
#clock,
#custom-weather,
#custom-media,
#window,
#cpu,
#memory,
#disk,
#tray,
#custom-launcher,
#custom-notification,
#power-profiles-daemon,
#custom-volight,
#custom-wifibt,
#workspaces,
#custom {
  color: @foreground;
  background-color: @background;
  padding: 0 5px; /* Set your desired padding here */
  margin: 0 3px; /* Set your desired margin here */
  border-radius: 6px; /* Ensure all modules have the same border-radius */
}

/* --- Workspaces Styling --- */
#workspaces button {
  background-color: @background;
  color: @foreground;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0 4px;
  transition: background-color 0.3s ease, color 0.3s ease, padding-left 0.15s ease, padding-right 0.15s ease;
}

#workspaces button.active {
  background-color: @color1;
  color: @active;
  padding: 0 7px;
}

#workspaces button.active:hover {
  color: @background;
  background: @hover;
}

#workspaces button.empty {
  color: @active;
  background: @color1;
}

#workspaces button:hover {
  background: @color4;
}

#workspaces button.urgent {
  background-color: @urgent;
  color: @background;
}

/* --- Specific Overrides --- */
#custom-volight,
#custom-wifibt {
  font-size: 6px;
  padding: 0;
  margin: 0;
}

#custom-volight {
  padding-left: 4px;
  padding-right: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#custom-wifibt {
  padding-right: 4px;
  padding-left: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#window.hidden {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  border: none;
}

window#waybar.empty #window {
  background-color: transparent;
}

#custom-cava {
    padding: 0 6px; /* Adjust padding as needed */
    margin: 0 7px;
    color: @foreground; /* Match your color scheme */
    background-color: @background;
    font-size: 16px; /* Adjust font size to change the bar height */
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
}