@import '/home/av/.config/colour/color-rgba.css';

* {
    font-family: "FiraCode Nerd Font";
    min-height: 0;
    font-size: 13px;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#window {
    background-color: @color0;
}

#outer-box {
    padding: 2px;
    margin: 10px;

}

#input {
    background-color: @color1; 
    color: @color0; 
    border-radius: 20px;
    padding: 8px;
}

#scroll {
    margin-top: 5px;
    margin-bottom: 4px;
}

#img {
    padding-right: 3px;
    padding-left: 8px;
    font-size: 30px;
}

#text {
    color: @foreground; /
    padding-left: 2px;
}

#text:selected {
    color: @foreground;
}

#entry {
    padding: 2px;
    margin-top: 1px;
}

#entry:selected {
    color: @foreground;
    background-color: @color2;
}

#unselected {
}

#selected {
}

#input, #entry:selected {
    border-radius: 1px;
    border: 2px solid @color7;
}

#input > image {
    -gtk-icon-transform: scaleX(0);
}